*{
    margin: 0;
    padding: 0;
}
:root{
    --headerBGColor: rgb(0,0,0);
    --headerTxtColor: white;
    --bgColor: white;
    --txtColor: black;
    --footerBGColor: black;
    --footerTxtColor: white;
    --visitedLinkColor: rgb(230,12,83);
    --flagColor: rgb(218,103,66);
    --font-body-family: "Roboto Condensed", sans-serif;
    --linkColor: white;

}
html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em; /*consigliato*/
    margin: auto;
    background-image: url(/materialePerStudenti/images/bg.png);

}
header{
    background-color: var(--headerBGColor);
    color: var(--headerTxtColor);
    text-align: center;

}

nav{
    background-color: var(--headerBGColor);
    color: var(--headerTxtColor);
}
/* lo metto in nav e non in menu */
nav a:link{
    color: var(--linkColor);
}

nav a:visited{
    color: var(--visitedLinkColor);
}
#bradcrumb{
    padding: 1em;
}
#breadcrumb p, #breadcrumb p a{
    max-width: 1024px;
    margin: auto;
}

/* MENU */
#menu{
    text-align: center;
}

#menu ul{
    padding: 1em;
    max-width: 1024px; /*guarda diff tra width e max-width*/
    margin: auto;
    list-style-type: none;
}

#menu ul li{
    display: inline-block; /* mette in riga e se la prende tutta*/
    width: 20%;
    margin: 0 0.5em;
}


/*specificità (1,0,0) 
La specificità è spesso scritta sotto forma di una tripla (a, b, c), 
in cui "a" rappresenta il numero di ID selezionati, 
"b" rappresenta il numero di classi, attributi o pseudo-classi selezionate, 
e "c" rappresenta il numero di elementi selezionati.
nav #menu{
    width: 50%;
}
specificità (1,0,1)
#menu{
    width: 40%;
}
 in questo caso dato che il primo è più specifico, sarà quello a prevalere, avrà larghezza 50%
*/
/* FINE MENU */


main{
    background-color: var(--bgColor);
    color: var(--txtColor);
    width: 80%;
}
main.colonne{
    column-count: 3;
    width: 90%;
}
.colonne dl{
    font-size: 90%;
    margin: auto;
}
/* specificità sono due e sono idetiche(0,1,3)*/
main.colonne div dt, main.colonne div dd{
    display: inline;
    text-transform: uppercase;
}

dd.città{
    color: var(--flagColor);
    font-weight: bold;
}
main.colonne time span{
    font-weight: bold;
}
main dl div{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
main
/*fatto da me*/
/*
.città{
    font-weight: bold;
}
.giorno{
    font-weight: bold;
}*/


#imgIndex{
    width: 40%;
}
footer{
    background-color: var(--footerBGColor);
    color: var(--footerTxtColor);
    padding: 1em;
    text-align: center;
    margin-top: auto;
}


#table_prossimiConceerti{
}
.table_biglietti{
    text-align: center;
}
.SoldoutTabella{
    max-width: 20%;
}


